<h1><%= @user.name %></h1>
<ul>
  <% @user.created_events.each do |event| %>
    <li><%= event.name %></li>
    <p><%= event.description %></p>
    <ul>
      <li><%= event.address %></li>
      <li><%= event.date %></li>
    </ul>
  <% end %>
</ul>
