<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <div id="user_nav">
        <% if current_user %>
          Signed in as <%= current_user.name %>
        <% else %>
          <%= link_to "Sign in", "/login" %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
